<h2>Join to a club</h2>

<% if @beer_clubs.empty? %>
<p>There are no beer clubs yet. Establish at least one beer club to join!</p>
<% end %>

<%= form_for(@membership) do |m| %>
    <%= m.select :beer_club_id, options_from_collection_for_select(@beer_clubs, :id, :to_s) %>
    <%= m.submit name="Join", :class => "btn btn-primary" %>
<% end %>


